.fixed-table {
    width: 90vw;
    /* Ancho al 90% del viewport width */
    table-layout: fixed;
    /* Fija el tamaño de las columnas */
}

.fixed-table th,
.fixed-table td {
    min-width: 150px;
    /* Ancho mínimo de las columnas */
}

.small-text {
    font-size: 0.75rem;
    /* Ajusta el tamaño según sea necesario */
}

.break-word {
    word-break: break-word;
    /* Permite que las palabras largas se dividan en la línea */
    white-space: normal;
    /* Asegura que el texto se ajuste en múltiples líneas */
}